<template>
  <div class="dashboard">
        <h1 class="subheading grey--text">Dashboard</h1>

        <v-container class="my-5">
            
            <v-layout row class="mb-3">

                <v-tooltip top>
                    <v-btn small slot="activator" flat color="grey" @click="sortBy('title')">
                        <v-icon small left>folder</v-icon>
                        <span class="captiopn text-lowercase">By Project Name</span>
                    </v-btn>
                    <span>Sort By Project Title</span>    
                </v-tooltip>
                
                <v-tooltip top>
                    <v-btn small slot="activator" flat color="grey" @click="sortBy('person')">
                        <v-icon small left>person</v-icon>
                        <span class="captiopn text-lowercase">By Person</span>
                    </v-btn>
                    <span>Sort By Project Person</span>    
                </v-tooltip>

            </v-layout>

            <v-card flat v-for="project in projects" :key="project.title">
                <v-layout row wrap :class="`pa-3 project ${project.status}`">
                    <v-flex xs12 md6>
                        <div class="caption grey--text">
                            Project Title 
                        </div>
                        <div>{{ project.title }}</div>
                    </v-flex>
                    <v-flex xs6 sm4 md2>
                        <div class="caption grey--text">
                            Person
                        </div>
                        <div>{{ project.person }}e</div>
                    </v-flex>
                    <v-flex xs6 sm4 md2>
                        <div class="caption grey--text">
                            Due By
                        </div>
                        <div>{{ project.due }}</div>
                    </v-flex>
                    <v-flex xs2 sm4 md2>
                        <div>
                            <v-chip small :class="`${project.status} white--text caption my-2`">{{ project.status }}</v-chip>
                        </div>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>
            </v-card>
        
        </v-container>

  </div>
</template>

<script>
export default {
    data(){
        return{
            projects: [
                { title: 'Forem ipsum sit dolor amit.', person: 'Steve', due:'1st Jan 2019', status:'ongoing', content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam laborum officiis nulla culpa maiores.' },
                { title: 'Borem ipsum sit .', person: 'Melody', due:'3rd Jan 2019', status:'completed', content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam laborum officiis nulla culpa maiores.' },
                { title: 'Aorem ipsum sit amit.', person: 'Arif', due:'5th Jan 2019', status:'completed', content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam laborum officiis nulla culpa maiores.' },
                { title: 'Eorem dolor amit.', person: 'Jacob', due:'20th Jan 2019', status:'overdue', content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam laborum officiis nulla culpa maiores.' },
            ]
        }
    },
    methods:{
        sortBy(prop){
            this.projects.sort((a,b) =>
                a[prop] < b[prop] ? -1 : 1
            );
        }
    }
}
</script>

<style scoped>
    .project.completed{
        border-left: 4px solid #3cd1c2;
    }
    .project.ongoing{
        border-left: 4px solid orange;
    }
    .project.overdue{
        border-left: 4px solid tomato;
    }

    .v-chip.completed{
        background: #3cd1c2;
    }
    .v-chip.ongoing{
        background: #ffaa2c;
    }
    .v-chip.overdue{
        background: #f83e70;
    }

</style>