<template>
  <div>
    <!-- <h1>Homepage</h1> -->

    <!-- Text -->
    <!-- <p class="red blue--text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dignissimos ex, quis consectetur iste deleniti doloremque quo quos molestiae ab ipsa repellat inventore possimus iure harum at ipsum perspiciatis quas!</p>
    <p class="pink lighten-1 red--text text--darken-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dignissimos ex, quis consectetur iste deleniti doloremque quo quos molestiae ab ipsa repellat inventore possimus iure harum at ipsum perspiciatis quas!</p>
    <h1 class="display-4">Massive Display</h1>
    <h4 class="display-1">Smaller display</h4>
    <p class="headline">Lorem ipsum dolor sit amet.</p>
    <p class="subheading font-weight-bold ">Lorem ipsum dolor sit amet.</p>
    <p class="caption">Lorem ipsum dolor sit amet.</p> -->

    <!-- Button -->
    <!-- <v-btn class="pink white--text">Click me</v-btn>
    <v-btn depressed color="indigo white--text">Click me !</v-btn>
    <v-btn flat color="pink">Pink Flat</v-btn>

    <v-btn depressed class="pink white--text">
      <v-icon left>email</v-icon>
      <span>Email me</span>
    </v-btn>

    <v-btn depressed small class="pink white--text">
      <v-icon left small>email</v-icon>
      <span>Email me</span>
    </v-btn>

    <v-btn depressed large class="pink white--text">
      <v-icon left large>email</v-icon>
      <span>Email me</span>
    </v-btn>

    <v-btn fab depressed small dark class="purple">
      <v-icon >favorite</v-icon>
    </v-btn> -->

    <!-- Breakpoint and Visibility -->
    <!-- <v-btn class="hidden-md-and-up"> Click Me </v-btn>
    <v-btn class="hidden-md-and-down"> Click Me </v-btn> -->
    <!-- <v-btn class="hidden-sm-only"> Click Me </v-btn>v -->

  </div>
</template>

<script>
  

  export default {

  }
</script>
