<template>
  <div class="projects">
      <h1 class="subheading grey--text">Projects</h1>

      <v-container class="my-5">
        <v-expansion-panel>
          <v-expansion-panel-content v-for="project in myProjects" :key="project.title">
            
            <div slot="header">{{ project.title }}</div>
            <v-card>
              <v-card-text class="px-4 grey--text">
                <div class="font-weight-bold">Due by {{ project.due }}</div>
                <div>{{ project.content }}</div>
              </v-card-text>
            </v-card>

          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-container>

  </div>
</template>

<script>
export default {
    data(){
      return{
        projects:[
          { title: 'Forem ipsum sit dolor amit.', person: 'Steve', due:'1st Jan 2019', status:'ongoing', content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam laborum officiis nulla culpa maiores.' },
          { title: 'Borem ipsum sit .', person: 'Melody', due:'3rd Jan 2019', status:'completed', content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam laborum officiis nulla culpa maiores.' },
          { title: 'Aorem ipsum sit amit.', person: 'Arif', due:'5th Jan 2019', status:'completed', content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam laborum officiis nulla culpa maiores.' },
          { title: 'Eorem dolor amit.', person: 'Jacob', due:'20th Jan 2019', status:'overdue', content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam laborum officiis nulla culpa maiores.' },
        ]
      }
    },
    computed:{
      myProjects(){
        return this.projects.filter(project => {
          return project.person === 'Steve'
        });
      }
    }
}
</script>
