<template>
   <nav>
       <v-toolbar flat app>
           <v-toolbar-side-icon class="grey--text" @click="drawer = !drawer"></v-toolbar-side-icon>
           <v-toolbar-title class="text-uppercase grey--text">
               <span class="font-weight-light">Todo</span>
               <span>Ez</span>
           </v-toolbar-title>
           
           <v-spacer></v-spacer>

            <!-- Dropdown Menu -->
            <v-menu offset-y>
                <v-btn flat color="grey" slot="activator">
                    <v-icon left>expand_more</v-icon>
                    <span>Menu</span>
                </v-btn>
                <v-list>
                    <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
                        <v-list-tile-title>{{ link.text }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

           <v-btn flat color="grey">
               <span>Sign Out</span>
               <v-icon right>exit_to_app</v-icon>
           </v-btn>
       </v-toolbar>

       <v-navigation-drawer v-model="drawer" app class="primary">
           <v-layout column align-center>
               <v-flex class="mt-5">
                   <v-avatar size="100">
                       <img src="/avatar-1.png" alt="user">
                   </v-avatar>
                   <p class="white--text text-md-center subheading mt-1">
                       Steve
                   </p>
               </v-flex>
               
               <v-flex class="mt-4 mb-3">
                   <Popup />
               </v-flex>

           </v-layout>
           <v-list>
               <v-list-tile v-for="link in links" :key="link.route" router :to="link.route">
                   <v-list-tile-action>
                       <v-icon class="white--text">{{ link.icon }}</v-icon>
                   </v-list-tile-action>
                   <v-list-tile-content>
                       <v-list-tile-title class="white--text">{{ link.text }}</v-list-tile-title>
                   </v-list-tile-content>
               </v-list-tile>
           </v-list>
       </v-navigation-drawer>

   </nav>
</template>

<script>

import Popup from './Popup.vue'

export default {
    components:{
        Popup
        },
    data(){
        return{
            drawer: true,
            links: [
                { icon:'dashboard', text: 'Dashboard', route:'/' },
                { icon:'folder', text: 'My Projects', route:'/projects' },
                { icon:'person', text: 'Team', route:'/team' },
            ]
        }
    }
}
</script>