<template>
    <v-dialog max-width="600px">
        <v-btn flat slot="activator" class="success">Add new project</v-btn>
        <v-card>
            <v-card-title>
                <h2>Add New Project</h2>
            </v-card-title>
            <v-card-text>
                <v-form class="px-3" ref="form" >
                    <v-text-field :rules="inputRules" v-model="title" prepend-icon="folder" name="title" label="title" id="title"></v-text-field>
                    <v-textarea :rules="inputRules" label="information" prepend-icon="edit" v-model="content" ></v-textarea>
                    
                    <v-menu >
                       <v-text-field :value="formattedDate" slot="activator" label="Due date" prepend-icon="date_range"></v-text-field> 
                       <v-date-picker v-model="due"></v-date-picker>
                    </v-menu>

                    <v-spacer></v-spacer>
                    
                    <v-btn flat @click="submit" class="success mx-0 mt-3">Add Project</v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>

import Format from 'date-fns/format'

export default {
    data(){
        return{
            title:'',
            content:'',
            due:null,
            inputRules:[
                v => v.length >= 3 || 'Minimum length is 3 characters'
            ]
        }
    },
    methods:{
        submit(){
            if(this.$refs.form.validate()){
                console.log(this.title,this.content);
            }
        }
    },
    computed:{
        formattedDate(){
            return this.due ? Format(this.due,'Do MMM YYYY') : ''
        }
    }
}
</script>